<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Главная страница</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
        <div class="container">
            <a class="navbar-brand" href="#">Just Another Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Добавить статью</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container my-5">
        <h1 class="mb-5">Последние статьи</h1>
        <div class="row">
            <div class="col-lg-8">
                <article class="card mb-5 shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title">Основы CSS для бэкенд-разработчиков</h3>
                        <hr>
                        <p class="card-text">
                            Равным образом рамки и место обучения кадров позволяет оценить значение
                            форм развития. Повседневная практика показывает, что постоянное
                            информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные
                            задания по разработке дальнейших направлений развития. Товарищи! постоянное
                            информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу
                            (специалистов) участие в формировании позиций, занимаемых участниками в отношении
                            поставленных задач. Равным образом новая модель организационной деятельности в значительной
                            степени обуславливает создание форм развития.
                        </p>
                        <p class="card-text"><small class="text-muted"></small></p>
                        <a href="#" class="btn btn-primary">
                            Читать дальше <i class="bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="d-flex justify-content-between my-2">
                            <div><i class="bi-person-fill"></i> Николай Андреев</div>
                            <div><i class="bi-clock"></i> 10 минут назад</div>
                        </div>
                    </div>
                </article>
            </div>
            <aside class="col-lg-4">
                <div class="card shadow-sm">
                    <div class="card-header">
                        Категории
                    </div>
                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action">Программирование</a>
                        <a href="#" class="list-group-item list-group-item-action">Администрирование</a>
                        <a href="#" class="list-group-item list-group-item-action">Менеджмент</a>
                        <a href="#" class="list-group-item list-group-item-action">Научпоп</a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>