{% extends 'base.html' %}
{% block header %}
Последние статьи
{% endblock %}
{% block content %}
    {% for article_id, article in articles.items() %}
        <article class="card mb-5 shadow-sm">
            <div class="card-body">
                <h3 class="card-title">
                    {{ article.title }}
                    {% if article.is_new %}
                        <small class="text-muted">(Новая)</small>
                    {% endif %}
                </h3>
                <hr>
                <p class="card-text">{{ article.body }}</p>
                <p class="card-text"><small class="text-muted"></small></p>
                <a href="/articles/{{ article_id }}" class="btn btn-primary">
                    Читать дальше <i class="bi-arrow-right"></i>
                </a>
            </div>
            <div class="card-footer text-muted">
                <div class="d-flex justify-content-between my-2">
                    <div><i class="bi-person-fill"></i> Николай Андреев</div>
                    <div><i class="bi-clock"></i> 10 минут назад</div>
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock %}