{% extends 'base.html' %}
{% block title %}
    Добавление статьи
{% endblock %}
{% block header %}
    Добавление статьи
{% endblock %}
{% block content %}
    <form action="{{ url_for('create_article') }}" method="POST">
        {{ form.csrf_token }}
        <div>{{ form.title.label }} {{ form.title }}</div>
        <div>{{ form.body.label }} {{ form.body }}</div>
        <div>{{ form.category_id.label }} {{ form.category_id }}</div>
        <div>{{ form.author_id.label }} {{ form.author_id }}</div>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
{% endblock %}