{% if category %}
    {% set current_id = category.id %}
{% endif %}

<div class="card shadow-sm">
    <div class="card-header">
        Категории
    </div>
    <div class="list-group list-group-flush">
        {% for category in categories %}
            {% set is_active = current_id == category.id %}
            <a href="{{ url_for('category_articles', category_id=category.id) }}"
               class="list-group-item list-group-item-action {{ 'active' if is_active else '' }}"
            >
                {{ category.name }}
            </a>
        {% endfor %}
    </div>
</div>

<div>
    <img class="img-fluid rounded mt-5" src="{{ url_for('static', filename='lenin.gif') }}" alt="Ленин">
</div>